.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  box-shadow: 8px 9px 8px #0E2C52;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.App-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #A4EDFD;
  border: none;
  color: #0E2C52;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.Add-option-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #A4EDFD;
  border: none;
  color: #0E2C52;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1px;
}

.Add-Option{
  margin-top: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
